{% extends 'website/base.html' %}

{% block custom_css %}
{% endblock custom_css %}

{% block content %}

{% include 'website/server_messages.html' %}

{% if form.errors %}
<div class="row">
  <div class="col text-centered">
    <div class="alert alert-danger" role="alert">
      {% for key, value in form.errors.items %}
        <strong> {{ key }}</strong>: {{ value.0 }}<br/>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

<div class="row">
  <div class="col text-center">
    <h1 class="btn-danger">Post Shift</h1>
    <br/>
    <form role="form" method="post">
      {% csrf_token %}
      <table border="5" class="table table-hover text-centered">
        {{ form.as_table }}
      </table>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

{% endblock content %}
